body {
    background: rgb(193, 203, 243) url('login.webp') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container {
    background: rgba(190, 152, 226, );
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #020101;
    border-radius: 5px;
}

.signup-btn {
    width: 100%;
    padding: 10px;
    background: #491283;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


.login-link {
    margin-top: 15px;
    display: block;
    color: #000000;
    text-decoration: none;
}

